
/* Estilos básicos */
body {
  cursor: url('cursor.cur') 1 1, auto;
  background-image: url('background.jpg'); /* Caminho relativo da imagem */
  background-size: cover; /* A imagem cobrirá toda a área */
  background-position: center; /* A imagem será centralizada */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-attachment: fixed; /* Torna o fundo fixo, não se move com o scroll */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh; /* Garante que o corpo sempre tenha altura suficiente */
}

.game-container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
  text-align: center;
  margin: 50px auto; /* Centraliza horizontalmente com espaçamento vertical */
  position: relative; /* Mantém o fluxo do layout */
}




  
  /* Estilos das abas */
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px;
    cursor: url('pointer.cur'), pointer; 
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .tab:hover {
    background-color: #482b61;
    color: white;
  }
  
  .tab-content {
    display: none;
    margin-top: 20px;
    text-align: left;
  }
  
  .active-tab-content {
    display: block;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.8em;
    margin-top: 20px;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  /* Estilos para os personagens */
  .character {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .character img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }
  
  .character div {
    flex: 1;
  }
  
  .character h3 {
    margin: 0;
    color: #222;
    font-size: 1.5em;
  }
  
  .character p {
    margin: 5px 0;
    color: #555;
    font-size: 1.1em;
  }
  
  
  
  